# Environment variables

# Required: Set the base URL of the application. Mostly used for the SEO tags. No trailing slash.
NEXT_PUBLIC_BASE_URL=

# ------ Dev ------

# Optional: Set the dev mode ("true" or "false"). Default to "false".
NEXT_PUBLIC_DEV_MODE=false

# ------ Telemetry ------

# Optional: Set the log level ("error", "warn", "info", "debug"). Default to "info".
NEXT_PUBLIC_LOG_LEVEL=info

# Optional: This variable is picked up by the Sentry Build Plugin.
SENTRY_ORG_ID=

# Optional: This variable is picked up by the Sentry Build Plugin.
SENTRY_PROJECT_ID=

# Optional: This variable is picked up by the Sentry Build Plugin.
# It's used for authentication when uploading source maps.
SENTRY_AUTH_TOKEN=

# Optional. 'true' of 'false' to enable Sentry. Default to 'false' if undefined.
NEXT_PUBLIC_SENTRY_ENABLED=

# Optional. Data Source Name required by sentry to report errors and performance issues. If undefined, Sentry will be disabled
NEXT_PUBLIC_SENTRY_DSN=

# Optional. Environment used in Sentry, highly recommended.
NEXT_PUBLIC_SENTRY_ENVIRONMENT=

# Optional. Number between 0 (0%) and 1.0 (100%), capture x% of the transactions for performance monitoring. Default to 0.1 (10%). Keep it low in Production, but can be set to 1.0 (100%) in development.
NEXT_PUBLIC_SENTRY_TRACE_SAMPLE_RATE=0.1

# Optional. Number between 0 (0%) and 1.0 (100%), capture x% of the sessions for replay. Default to 0.1 (10%). Keep it low in Production, but can be set to 1.0 (100%) in development.
NEXT_PUBLIC_SENTRY_REPLAY_SESSION_SAMPLE_RATE=0.1

# Optional. Number between 0 (0%) and 1.0 (100%), capture x% of the sessions in error for replay. Default to 1.0 (100%). Can keep it like this in Production, reduce it if too much noise or close to quota.
NEXT_PUBLIC_SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE=1
